.Ticket{
    height: 50px;
    width: 300px;
    border: 2px solid rgb(248, 232, 232);
    border-radius: 15px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: aquamarine;
    /* padding: 5px 5px; */
}

.Ticket:hover{
    /* transform: scale(0.5); */
    transform: scale(1.02);
    border: 2px solid blue;
    /* font-size: 37px; */
    font-weight: 500;

}
